/*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

       <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
   */

   @import url('https://fonts.googleapis.com/css?family=Montserrat');

   body { 
    font-family: "Montserrat" !important;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    -webkit-highlight: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-overflow-scrolling: touch; 
  }

  .statusbar-overlay {
    background: pink;
    /* We can add transition for smooth color animation */
    -webkit-transition: 400ms;
    transition: 400ms;
  }

  .btn-block {
    display: block !important
  }

  .statusbar-overlay {
    background: #000000;
  }

  .navbar {
    background: url('../img/header.png') repeat-x top center/cover;
  }

  .btnFooter {
    position: fixed;
    bottom:0;
    z-index: 999 !important;
    width: 100% !important
  }

  .btnFooter .btn {
    border-radius:0px !important;

  }

  .btnFooter button{
    color:#fff;
    width: 100% !important
    border-radius:0px !important;
    border:0;
    background: url('../img/header.png') repeat-x top center/cover;
    box-shadow: 0px 0px 10px rgba(0,0,0,.4);
  }

  .navbar .right:first-child {
    right:-45px;
  }

  .login {
    padding-top:30%;
  }

  #formLogin {
    margin-top:10%;
  }

  #page {
    height: 100vh;
  }

  .logoHead {
    margin-top:15px;
    margin-right:15px;
  }

  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #dd5412;
  }

  .navbar-default button{
    margin-left: 10px;
    border:0 !important;
    border-color:0 !important;
  }

  .navmenu-default, .navbar-default .navbar-offcanvas {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#111+0,000000+100;Black+3D+%231 */
    background: #111; /* Old browsers */
    background: -moz-linear-gradient(top, #111 0%, #000000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #111 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #111 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  }

  .navmenu-nav li a img{
    margin-right: 10px;
  }

  .navmenu-nav li a {
    font-size: 18px;
    color:#fff !important;
    font-weight: 300 !important;
    padding-top: 4px;
    padding:20px;
    border-bottom: 1px solid #333;
    box-shadow: 0px 1px 1px #111;
  }

  .mensajeLogin {
    display: none;
  }

  .colorNaranja {
    color:#dd5412;
  }

  .bkgNaranja {
    background: #dd5412 !important;
    color:#fff;
  }

  .alert1 {
    width: 100%;
    position: absolute;
    top:0;
    background:rgba(255,255,255,0.7);
    height: 100%;
    padding:20% 0px;
  }


  .alert2 h1 {
    font-size:30px;
  }


  .alert2 {
    width: 100%;
    position: absolute;
    top:0;
    background:rgba(255,255,255,0.7);
    height: 100%;
    padding:20% 0px;
  }


  .alert2 h1 {
    font-size:30px;
  }


  #imagenAlert2 {
    width: 70%;
    border:2px solid #dd5412;
    border-radius: 50%;
  }

  #needDoctorMap {
    text-transform: uppercase;
  }


  .loading {
    background: rgba(0,0,0,.2);
    position: absolute;
    top:0;
    display: none;
    height: 100vh;    
  }

  .loading img {
    margin-top:40%;
    opacity: .6;
  }